.results{
  font-family:"FangSong";
  font-size:2.0em;
  text-align:center;
  color:#A7C942;
}
.retry{
  font-family:"FangSong";
  width: 200px;
  height:30pt;
  padding:5px;
  word-wrap: break-word;
  word-break: normal;
  text-align:center;
  color:#CC3300;
}
table
  {
    width: 540px;
    padding:10px;
    table-layout:fixed;
    border-collapse:collapse;
  }

table th 
  {
  font-family:"FangSong";
  font-size:1.7em;
  text-align:center;
  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;    
  width: 135px;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

  table td 
  {
  font-family:"Times New Roman";
  font-size:1.2em;
  text-align:center;
  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;    
  width: 135px;
  }

  table td, table th 
  {
  border:2px solid #98bf21;
  padding:3px 7px 2px 7px;
  }
  table tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }

  td:hover {
    overflow: visible;
    max-width: inherit;
  }  
  td span {
    position: relative;
    transition: all 160ms ease-in-out;
  }
  th:hover span, td:hover span {
    z-index: 999;
    background: #89cff0;
    color: #111;
    font-weight: bold;
    padding: 3px;
  }